1. データの取得場所
 1.  https://currencylayer.com/signup/free
 1.  https://info.finance.yahoo.co.jp/fx/detail/?code=ZARJPY=FX
 1.  http://www.algo-fx-blog.com/fx-api-complete-guide-for-python-users/
 1.  CSVは下記サイトのからダウンロード
     https://stooq.com/q/d/?s=zarjpy
1. 前処理のメモ
  1. 当日の結果は、close/openの比率で判断する
  1. 過去の結果は、過去のオープン/当日のオープンで計算する

In [1]:
import pandas as pd

pram_predict_day=1                   # 1日後の予測をする
pram_predict_percent=0.5
YEAR=""
start_date='2000-08-29'             #元データを2000年からにする

In [34]:
class load_csv_new:
    #CSVは右記サイトのからダウンロード https://stooq.com/q/d/?s=zarjpy
    import pandas as pd
    
    def load(self):
        df_fx=pd.read_csv('data/zarjpy_d.csv')
        df_fx=df_fx.ix[:,['Date','Open','Close']]
        
        print ("配列長さ:",len(df_fx))
        return df_fx

In [35]:
class load_csv:
    import pandas as pd

    def load(self):
        df_fx=pd.read_csv('data/ZAR.csv')
        df_fx=df_fx.ix[:,['日付け','終値','始値']]
        df_fx.rename(columns={'日付け':'Date','始値':'Open','終値':'Close'},inplace=True)

        print ("配列長さ:",len(df_fx))
        return df_fx

In [21]:
def result(day0,xday):        #day0 当日の上昇率(close/open)の結果を返す
    rate=0  #上昇率
    if ((i-xday)>=0 and data_len>(i-xday)): 
        rate= ((df_fx.iloc[i,close_index]/df_fx.iloc[i,open_index])-1)*100
    return rate

def persent(day0,xday):         #　当日のopen価格と、過去のと比較して上昇率(当日open/過去open)を返す
    rate=0  #上昇率
    if ((i-xday)>=0 and data_len>(i-xday)):        
        rate= ((df_fx.iloc[i,open_index]/df_fx.iloc[i-xday,open_index])-1)*100
        if rate <0:
            rate=0
        #rate=np.log10(rate)
    return rate

def persent_minus(day0,xday):   #　当日のopen価格と、過去のと比較して下降率(-当日open/過去open)を返す
    rate=0  #上昇率
    if ((i-xday)>=0 and data_len>(i-xday)):        
        rate= ((df_fx.iloc[i,open_index]/df_fx.iloc[i-xday,open_index])-1)*100
        if rate>0:
            rate=0
        #rate=np.log10(rate)
    return rate

In [37]:
LOAD_CSV=load_csv_new()
df_fx=LOAD_CSV.load()
df_fx=df_fx.sort_values(by='Date')

df_fx=df_fx[(df_fx['Date']>=start_date )]
df_fx = df_fx.reset_index(drop=True)
data_len=len(df_fx)

df_fx.tail(10)

配列長さ: 7479

/Users/fujiccofujimoto/.pyenv/versions/3.5.2/lib/python3.5/site-packages/ipykernel_launcher.py:6: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

            Date     Open    Close
4662  2018-12-17  7.88166  7.84473
4663  2018-12-18  7.84438  7.84112
4664  2018-12-19  7.84049  7.82856
4665  2018-12-20  7.82915  7.73618
4666  2018-12-21  7.73611  7.60481
4667  2018-12-24  7.58917  7.57218
4668  2018-12-26  7.54017  7.64275
4669  2018-12-27  7.64041  7.66349
4670  2018-12-28  7.66287  7.64771
4671  2018-12-31  7.65462  7.64661

In [38]:
df_fx[df_fx['Date']=='2018-08-01']

            Date    Open    Close
4564  2018-08-01  8.4524  8.45373

In [39]:
df=pd.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)
df = pd.DataFrame(index=['Date'], columns=[
"Date" ,"Close","Open",
"day+1" ,"day+2" ,"day+3",
"day+4" ,"day+5" ,"day+6",
"day+7" ,"day+8" ,"day+9",
"day+10","day+11","day+12",
"day+13","day+14","day+15",
"day+16","day+17","day+18",
"day+19","day+20","day+21",
"day+22","day+23","day+24",
"day+25","day+26","day+27",
"day+28","day+29","day+30",

"day-1" ,"day-2" ,"day-3",
"day-4" ,"day-5" ,"day-6",
"day-7" ,"day-8" ,"day-9",
"day-10","day-11","day-12",
"day-13","day-14","day-15",
"day-16","day-17","day-18",
"day-19","day-20","day-21",
"day-22","day-23","day-24",
"day-25","day-26","day-27",
"day-28","day-29","day-30",

"label_up","label_none","label_down",
"label2_up","label2_down"
])

In [40]:
date_index=df_fx.columns.get_loc('Date')
close_index=df_fx.columns.get_loc('Close')
open_index=df_fx.columns.get_loc('Open')

df_fx.head(8)

         Date    Open   Close
0  2000-08-29  15.313  15.313
1  2000-08-30  15.278  15.278
2  2000-08-31  15.281  15.281
3  2000-09-01  15.378  15.378
4  2000-09-04  15.205  15.205
5  2000-09-05  15.135  15.135
6  2000-09-06  14.944  14.944
7  2000-09-07  14.953  14.953

In [41]:
open_index
date_index
close_index

2

In [42]:
for i in range(data_len) :
    Date_day=df_fx.iloc[i,date_index ]

    if i%100==0:
        print('{0:.1%}'.format(i/data_len),end=" ")

    #当日のOPENの株価
    day0         =df_fx.iloc[i,open_index]
    day0_open    =df_fx.iloc[i,open_index] 
    day0_close   =df_fx.iloc[i,close_index] 

    #その後の結果から正解ラベルを作成
    label_up=0     #上昇
    label_none=0   #変化少ない
    label_down=0   #下降
    label2_up=0    #上昇
    label2_down=0   #下降

    #正解データの計算  (pram_predict_day) 日後に、(pram_predict_persent)％の前後がある
    prediction=result(day0_open,pram_predict_day)    

    # ３つのらべるの場合
    if prediction>=      pram_predict_percent:
        label_up  =1        #上昇
        label_none=0        #そのまま
        label_down=0        #下降
    elif prediction<=   -pram_predict_percent:
        label_up  =0        #上昇
        label_none=0        #そのまま
        label_down=1        #下降
    else:
        
        label_up  =0        #上昇
        label_none=1        #そのまま
        label_down=0        #下降


    # 2つのらべるの場合
    if prediction>=0:
        label2_up=1          #上昇
        label2_down=0        #下降
    else:
        label2_up=0          #上昇
        label2_down=1        #下降

    series=pd.Series([Date_day,day0_close,day0_open,
                      persent(day0,1),persent(day0,2),persent(day0,3),
                      persent(day0,4),persent(day0,5),persent(day0,6),
                      persent(day0,7),persent(day0,8),persent(day0,9),
                      persent(day0,10),persent(day0,11),persent(day0,12),
                      persent(day0,13),persent(day0,14),persent(day0,15),
                      persent(day0,16),persent(day0,17),persent(day0,18),
                      persent(day0,19),persent(day0,20),persent(day0,21),
                      persent(day0,22),persent(day0,23),persent(day0,24),
                      persent(day0,25),persent(day0,26),persent(day0,27),
                      persent(day0,28),persent(day0,29),persent(day0,30),

                      persent_minus(day0,1),persent_minus(day0,2),persent_minus(day0,3),
                      persent_minus(day0,4),persent_minus(day0,5),persent_minus(day0,6),
                      persent_minus(day0,7),persent_minus(day0,8),persent_minus(day0,9),
                      persent_minus(day0,10),persent_minus(day0,11),persent_minus(day0,12),
                      persent_minus(day0,13),persent_minus(day0,14),persent_minus(day0,15),
                      persent_minus(day0,16),persent_minus(day0,17),persent_minus(day0,18),
                      persent_minus(day0,19),persent_minus(day0,20),persent_minus(day0,21),
                      persent_minus(day0,22),persent_minus(day0,23),persent_minus(day0,24),
                      persent_minus(day0,25),persent_minus(day0,26),persent_minus(day0,27),
                      persent_minus(day0,28),persent_minus(day0,29),persent_minus(day0,30),
                      label_up,label_none,label_down,
                      label2_up,label2_down
                     ]
                      ,index=df.columns)
    series.append
    df=df.append(series,ignore_index = True)

0.0% 2.1% 4.3% 6.4% 8.6% 10.7% 12.8% 15.0% 17.1% 19.3% 21.4% 23.5% 25.7% 27.8% 30.0% 32.1% 34.2% 36.4% 38.5% 40.7% 42.8% 44.9% 47.1% 49.2% 51.4% 53.5% 55.7% 57.8% 59.9% 62.1% 64.2% 66.4% 68.5% 70.6% 72.8% 74.9% 77.1% 79.2% 81.3% 83.5% 85.6% 87.8% 89.9% 92.0% 94.2% 96.3% 98.5%

In [43]:
#前処理データの保存
df.to_csv('data/fx_new.csv',index=False)
#df.to_csv('data/fx.csv',index=False)

In [45]:
df.tail()

,Date,Close,Open,day+1,day+2,day+3,day+4,day+5,day+6,day+7,...,day-26,day-27,day-28,day-29,day-30,label_up,label_none,label_down,label2_up,label2_down
4668,2018-12-24,7.57218,7.58917,0,0,0,0,0,0,0,...,-5.32508,-4.02943,-3.6845,-3.54581,-4.41334,0,1,0,0,1
4669,2018-12-26,7.64275,7.54017,0,0,0,0,0,0,0,...,-6.48095,-5.93636,-4.64907,-4.30637,-4.16857,1,0,0,1,0
4670,2018-12-27,7.66349,7.64041,1.32941,0.675173,0,0,0,0,0,...,-4.90734,-5.23769,-4.68586,-3.38147,-3.03421,0,1,0,1,0
4671,2018-12-28,7.64771,7.66287,0.293963,1.62728,0.971121,0,0,0,0,...,-4.17879,-4.6278,-4.95913,-4.40567,-3.09744,0,1,0,0,1
4672,2018-12-31,7.64661,7.65462,0,0.185985,1.51787,0.862413,0,0,0,...,-5.8039,-4.28195,-4.73048,-5.06145,-4.50859,0,1,0,0,1